numpy==1.26.4
openai-whisper==20231117
Wave==0.0.2
openai==1.14.0
customtkinter==5.2.2
PyAudioWPatch==0.2.12.6; sys_platform == 'win32'
pyaudio==0.2.14; sys_platform != 'win32'
torch==2.2.1 --index-url https://download.pytorch.org/whl/cpu